.env

# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv
venv/
env/

# IDE / Editor specific
.vscode/
.idea/

# Merged code files
merge_code.py
merged_code.py